@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&family=Open+Sans:wght@300;400;800&display=swap');

:root {
  --black: #242B2E;
  --gray: #758283;
  --white: #fdfdf8;
}

body {
  color: var(--black);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
  background-color: var(--white);
  margin-right: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

nav .logo img {
  width: 100px;
  margin-top: 25px;
}

.links {
  font-weight: 100;
  display: flex;
  gap: 2em;
  font-size: 1.2rem;
}

.links::before {
  display: block;
  position: relative;
  content: "";
  width: 500px;
  height: 2px;
  top: 12px;
  background-color: var(--black);
}

.links span:first-child {
  font-weight: 400;
}

nav .input{
  display: none;
}

.left img {
  position: absolute;
  left: -50px;
  top: 0;
  height: 100vh;
  z-index: -1;
}

.links :hover{
  color: #adbbbc;
  cursor: pointer;
}

.right .top .left h1 {
  font-size: 6rem;
  margin-top: 0;
  margin-bottom: 0;
}

.right .top .left h1:nth-child(2) {
  margin-top: -35px;
  margin-left: 120px;
}

.right .top .right {
  display: flex;
  flex-direction: column;
  gap: 3.5em;
  justify-content: center;
  width: 40px;
  position: absolute;
  top: 100px;
  right: 80px;

}

.right .top .right img {
  height: 25px;
}

.right .middle {
  float: right;
  margin-right: 40px;
  margin-top: 65px;
}

.right .middle span {
  font-size: 2rem;
  margin: 0;
  position: absolute;
  top: 220px;
  right: 450px;
  width: 100px;
  color: var(--gray)
}

.right .middle button {
  font-size: 1.8rem;
  padding: 12px 40px;
  background-color: var(--black);
  color: var(--white);
  margin-top: -25px;
  margin-right: 5px;
}

#quote {
    font-family: 'Lily Script One', cursive;
    font-size: 5rem;
    position: relative;
    bottom: 250px;
    right: 70px;
}

.bottom .right img {
    width: 500px;
    position: relative;
    bottom: -120px;
    right: 30px;
}

.right {
  width: 65%;
  float: right;
}

.bottom .left {
  position: absolute;
  bottom: -40px;
  margin-left: 20px;
}

.bottom .left h4 {
  margin-bottom: 45px;
  font-weight: 400;
  color: var(--gray);
}

.bottom .left h4:first-child {
  color: var(--black);
}

.bottom .left h4::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: var(--gray);
  top: 4px;
}

.bottom .left h4:first-child:before {
  background-color: var(--black);
}

.bottom .line {
  height: 100%;
  width: 2px;
  background-color: var(--gray);
  position: absolute;
  top: 42px;
  left: 8px;
}

.bottom .right h4 {
  font-size: 1.6rem;
  font-weight: 400;
  position: absolute;
  right: 155px;
  bottom: 160px;
}

.arrow img{
  position: absolute;
  right: 50px;
  bottom: -30px;
}

@media screen and (max-width: 1200px) {
  .links::before{
    display: none;
  }

  .links, .links span:first-child{
    display: none;
  }

  nav .input{
    display: flex;
  }

  .left img{
    display:none;
  }

  .right .top .left{
    margin-left: -200px;
  }

  .right .top .middle span{
    margin-top: 130px;
    margin-right: -150px;
  }

  .right .top .middle button{
    margin-top: 100px;
  }

  .bottom .left{
    top: 30%;
    left: 15%;
    color: #2f2f2f;
  }

  .bottom .right img{
    margin-left: -350px;
    margin-top: 150px;
  }

  .right .top .right{
    top: 12%;
  }

  .right #quote{
    display: none;
  }

  .bottom .right h4{
    left: 20%;
    top: 80%;
  }

  .arrow img{
    top: 55%;
    right: 5%;
    height: 400px;
  }
}
